body {
  background: #f3f1ff;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* ............header style............. */
.container {
  width: 100%;
  height: 94px;
  background: #562eff;
}
nav {
  display: flex;
  justify-content: space-between;
  padding-right: 15%;
  padding-left: 15%;
  padding-top: 20px;
}
.logo-tittle {
  display: flex;
  align-items: center;
}
.logo {
  width: 40px;
  height: 50px;
  cursor: pointer;
}
h3 {
  color: white;
  padding-left: 15px;
  font-weight: 350;
  cursor: pointer;
}
.nav-item {
  display: flex;
  align-items: center;
}
.nav-icons a {
  color: white;
  padding-right: 30px;
  text-decoration: none;
  font-size: 16px;
  font-weight: normal;
}
.profile-logo img {
  cursor: pointer;
}
section {
  background: white;
  margin-top: 30px;
  margin-right: 15%;
  margin-left: 15%;
  border-radius: 5px;
  /* border: 3px dashed red; */
}
/* ...........main section>top blog style.............. */
.player-image img {
  width: 56px;
  height: 56px;
}
h2 {
  padding-top: 30px;
  padding-left: 4%;
  color: #562eff;
}
.players-container {
  padding-left: 5%;
  padding-right: 3%;
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
}
.player {
  display: flex;
  align-items: center;
}
.player-name p {
  padding-left: 12px;
  font-size: 18px;
  font-weight: 500;
}
hr {
  border: 1px solid #d1d1d1;
  margin: 30px 5% 5px 3.5%;
}
.blogs-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 25px;
  padding-left: 5%;
  padding-right: 3%;
  padding-bottom: 30px;
  margin-top: 30px;
}
.blog {
  display: flex;
}
.blog-image img {
  width: 177px;
  height: 117px;
}
.blog-details {
  padding-left: 15px;
}
h4 {
  line-height: 25px;
  margin-bottom: 12px;
}
.blog-details p {
  padding-top: 0;
  margin-top: 0;
  color: lightgray;
}
.blog-details span {
  color: #562eff;
}
/* ..........Latest Courses Style.............. */
.courses-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2%;
  padding: 25px 3% 25px 5%;
}
.course {
  border-radius: 10px;
  box-shadow: 5px 5px 20px lightgrey;
  padding-left: 5%;
}
.course img {
  width: 225px;
  height: 105px;
  padding-top: 15px;
}
.author {
  margin-top: 0;
  font-size: 15px;
  color: #ed6b4f;
  margin-bottom: 0;
}
.course-info {
  display: flex;
  align-items: center;
}
.fa-star {
  color: #ffc014;
}
#empty {
  color: #aeaeae;
}
.rating {
  margin-right: 15px;
}
.hour p {
  background: #ffe4e7;
  color: red;
  padding: 5px 5px;
  border-radius: 15px;
  letter-spacing: 2px;
  margin-left: 15px;
}
